
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Macondo&display=swap');

/*To reset the browser impact on the page*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* Start body section */
body {
    padding: 0;
    margin: 0;
    background-color:whitesmoke;
    font-family:"Courier Prime", monospace;
    font-size: 1.1rem;

}
header {
margin-top: 60px;
}

.w100 {
    width: 100%;
}
#logo {
    margin:5px;
    left: 10px;
    height: 40px;
    width:auto;
}

/* Start Navigation Section */
nav {
    background-color:darkgreen;
    font-family:'Courier Prime', Courier, monospace
}

.navbarNav {
     gap: 10px;
} 


h1, h2, h3, h5 { 
    color:darkgreen;
}

/* Different IDs */
#aboutus {
    color: yellowgreen;
    background-color: lightgray;
}

.color-uniform {
    color:darkgreen;

}
.table-text {
    font-size: 1.4rem;
    color: #3a3a3a;
}

#contactus{
    color:green;
    background-color:whitesmoke;
}

#sign-up {
    background-color:lightgray;
}

#signup-btn {
    background-color: darkgreen;
}
.sharp-corners * {
    border-radius:0;
}

.navbar .nav-link {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}
/* form-fill */



.btn-outline-success {
    color: #0a4d2e;
    border-color: #0a4d2e;
}

#contactus {
    background-color: #ffffff; /* or any solid light/dark base */
    color: #212529; /* strong readable text */
}

.contact-link {
    color: darkgreen !important;
}
.form-fill{
    color: #3a3a3a;
    margin:2rem;
}

#table-background{
    background-color: whitesmoke;
    padding: 3% 10%;
    font-size:150%;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 10%;
    color: #3a3a3a;
}

